<div class="page" data-name="admin">
    <div class="navbar">
        <div class="navbar-bg">
            <div class="navbar-inner sliding">
                <div class="title">mySandwich - Admin</div>
            </div>
        </div>
    </div>

    <div class="page-content">


        <div class="list">
            <ul>
              <li>
                <a href="/admin-orders/" class="item-content item-link">
                  <div class="item-inner">
                    <div class="item-title">Orders</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/admin-add/" class="item-content item-link">
                  <div class="item-inner">
                    <div class="item-title">Add a snack</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/admin-delete/" class="item-content item-link">
                  <div class="item-inner">
                    <div class="item-title">Delete a snack</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>

    </div>

</div>