<div class="page" data-name="admin-delete">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">mySandwich - Admin</div>
      </div>
    </div>
    <div class="page-content">
      
        <div class="block-title">Snacks</div>
        <div class="block">
            <div id="adminSandwichList" class="content-block-inner"></div>
        </div>

    </div>
  </div>