<div class="page" data-name="admin-add">
    <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span class="if-not-md">Back</span>
                </a>
            </div>
            <div class="title">mySandwich - Admin</div>
        </div>
    </div>
    <div class="page-content">

        <div class="block-title">Add a snack</div>
        <div class="block content-block">
            <form id="product">
                <div class="list">
                    <ul>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="text" id="name" placeholder="name" minlength="4" maxlength="20"
                                        required validate data-error-message="Please enter your sandwichname!">
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="number" id="price" placeholder="Prijs in euro" step="0.01" required validate
                                        data-error-message="Please enter your price correct!">
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <select id="available" class="form-control" type="text">
                                        <option value="available">Available</option>
                                        <option value="not available">Not available</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="text" id="extra" placeholder="extra" required validate
                                        data-error-message="Please enter your Ingrediënten!">
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="number" id="kcal" placeholder="kcal" minlength="1" maxlength="4"
                                        required validat data-error-message="Please enter your kcal!">
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="text" id="saus" placeholder="saus" minlength="5" maxlength="20"
                                        required validate data-error-message="Please enter your sauce!">
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <a href="#" id="btnVoegToe" class="button button-fill button-raised">Add Snack</a>
                </div>
            </form>
        </div>

    </div>
</div>