<div class="page" data-name="login">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">Login</div>
      </div>
    </div>
    <div class="page-content">

        <div class="block-title">Login</div>
      <div class="block block-strong inset">
        <div class="list no-hairlines-md">
          <ul>
            <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Email</div>
                    <div class="item-input-wrap">
                      <input type="email" placeholder="email" id="email" required/>
                    </div>
                  </div>
                </div>
              </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Password</div>
                  <div class="item-input-wrap">
                    <input type="password" placeholder="password" id="password"  required />
                  </div>
                </div>
              </div>
            </li>
        </div>
        <a href="#" id="btnLogin" class="col button button-round button-fill">Login</a>
      </div>

    </div>
  </div>