<div class="page" data-name="register">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">Register</div>
      </div>
    </div>
    <div class="page-content">

        <div class="block-title">Create your account!</div>
      <div class="block block-strong inset">
        <div class="list no-hairlines-md">
          <ul>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">E-mail</div>
                  <div class="item-input-wrap">
                    <input type="email" placeholder="E-mail" minlength="16" maxlength="64" id="email" required validate data-error-message="Please enter your email!"/>
                  </div>
                </div>
              </div>
            </li>
            <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">name</div>
                    <div class="item-input-wrap">
                      <input type="text" placeholder="name" id="name" minlength="4"  maxlength="20"required validate data-error-message="Please enter your name!"/>
                    </div>
                  </div>
                </div>
              </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">family name</div>
                  <div class="item-input-wrap">
                    <input type="text" placeholder="family name" id="family_name" minlength="2" maxlength="20" required validate data-error-message="Please enter your family name!"/>
                  </div>
                </div>
              </div>
            </li>
            <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Password</div>
                    <div class="item-input-wrap">
                      <input type="password" placeholder="Password" id="password" minlength="8" maxlength="25" required validate data-error-message="Please enter your secret password!"/>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">address</div>
                    <div class="item-input-wrap">
                      <input type="text" placeholder="address" id="address" maxlength="35"required validate data-error-message="Please enter your address!"/>
                    </div>
                  </div>
                </div>
              </li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">telephone number</div>
                    <div class="item-input-wrap">
                      <input type="number" placeholder="telephone number" id="telephonenumber" minlength="9" maxlength="11" required validate data-error-message="Please enter your number!" />
                    </div>
                  </div>
                </div>
              </li>
          
        </div>
        <a href="" id="btnRegister" class="col button button-round button-fill">Register</a>
      </div>

    </div>
  </div>