<div class="page" data-name="socials">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="back link">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Back</span>
        </a>
      </div>
      <div class="title">Socials</div>
    </div>
  </div>
  <div class="page-content">

    <div class="block-title text-align-center">Instagram</div>
    <div class="block block-strong inset text-align-center">
      <a href="#" id="btnInstagram" class="social-link"><i class="icon f7-icons">logo_instagram</i></a>
    </div>

    <div class="block-title text-align-center">Facebook</div>
    <div class="block block-strong inset text-align-center">
      <a href="#" id="btnFB" class="social-link"><i class="icon f7-icons">logo_facebook</i></a>
    </div>

    <div class="block-title text-align-center">LinkedIn</div>
    <div class="block block-strong inset text-align-center">
      <a href="#" id="btnLink" class="social-link"><i class="icon f7-icons">logo_linkedin</i></a>
    </div>

    <div class="block-title text-align-center">Twitter</div>
    <div class="block block-strong inset text-align-center">
      <a href="#" id="btnTwitter" class="social-link"><i class="icon f7-icons">logo_twitter</i></a>
    </div>

  </div>
</div>
</div>